.login .content {
    transition: height .3s;
    position: relative;
    z-index: 1;
    background: hsla(0, 0%, 100%, .344);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 90%;
    margin: 0 auto;
    border-radius: 14px;
    margin-top: -100px;
    padding: 16px 12px;
}

.hello {
    background: linear-gradient(103deg, rgba(254, 131, 0, .23137254901960785) 19%, rgba(254, 131, 0, .23137254901960785) 0, #fbd8ca 84%);
}

.pre {
    background: linear-gradient(138deg, #fe8400 11%, #f9881f 0, #ff5801 91%);
    -webkit-background-clip: text;
    background-clip: text;
}

.verfy_title {
    transform: translateX(-20px);
    white-space: nowrap;
    font-weight: 700;
    height: 50%;
    padding-left: 8px;
    float: right;
    text-align: left;
    font-size: 10.4px;
    border: transparent;
    border-left: 1px solid hsla(0, 0%, 60%, .2);
    font-size: 10.4px;
    background: linear-gradient(115deg, #fe8400 17%, #f9881f 0, #ff5801 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    display: flex;
    align-items: center;
}

.btn button {
    background: linear-gradient(111deg, #fe8400 18%, #f9881f 0, #ff5801 85%);
}

.footer2 {
    margin-top: 24px;
    bottom: 4px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer2 span {
    color: #999;
    font-size: 11.2px;
}

.footer2 a {
    font-size: 12.8px;
    background: linear-gradient(104deg, #fe8400 19%, #f9881f 0, #ff5801 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    font-weight: 700;
}

.register_btn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9.6px;
    color: #626262;
    font-weight: 700;
}

.register_btn a {
    font-size: 9.6px;
    background: linear-gradient(104deg, #fe8400 19%, #f9881f 0, #ff5801 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    font-weight: 700;
}

.footer {
    margin: 0 auto;
    margin-top: 24px;
    bottom: 1rem;
    border-bottom: 2px solid #fe8400;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer a {
    font-size: 12.8px;
    background: linear-gradient(104deg,#fe8400 19%,#f9881f 0,#ff5801 84%);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
}