.login .content {
    transition: height .3s;
    position: relative;
    z-index: 1;
    background: hsla(0, 0%, 100%, .344);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 90%;
    margin: 0 auto;
    border-radius: 14px;
    margin-top: -100px;
    padding: 16px 12px;
}

.hello {
    background: linear-gradient(103deg, rgba(254, 131, 0, .23137254901960785) 19%, rgba(254, 131, 0, .23137254901960785) 0, #fbd8ca 84%);
}

.pre {
    background: linear-gradient(138deg, #fe8400 11%, #f9881f 0, #ff5801 91%);
    -webkit-background-clip: text;
    background-clip: text;
}

.verfy_title {
    transform: translateX(-20px);
    white-space: nowrap;
    font-weight: 700;
    height: 50%;
    padding-left: 8px;
    float: right;
    text-align: left;
    font-size: 10.4px;
    border: transparent;
    border-left: 1px solid hsla(0, 0%, 60%, .2);
    font-size: 10.4px;
    background: linear-gradient(115deg, #fe8400 17%, #f9881f 0, #ff5801 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    display: flex;
    align-items: center;
}

.btn2 button {
    background: linear-gradient(111deg, #fe8400 18%, #f9881f 0, #ff5801 85%);
}

.footer2 {
    margin-top: 24px;
    bottom: 4px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer2 span {
    color: #999;
    font-size: 11.2px;
}

.footer2 a {
    font-size: 12.8px;
    background: linear-gradient(104deg, #fe8400 19%, #f9881f 0, #ff5801 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    font-weight: 700;
}

.register_btn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9.6px;
    color: #626262;
    font-weight: 700;
}

.register_btn a {
    font-size: 9.6px;
    background: linear-gradient(104deg, #fe8400 19%, #f9881f 0, #ff5801 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    font-weight: 700;
}

.footer {
    margin: 0 auto;
    margin-top: 24px;
    bottom: 1rem;
    border-bottom: 2px solid #fe8400;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer a {
    font-size: 12.8px;
    background: linear-gradient(104deg, #fe8400 19%, #f9881f 0, #ff5801 84%);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
}

nav {
    background-color: #b03a36;
    border-top: 1px solid red;
    height: 55px !important;
}

@media (max-width: 575.98px) {
    .navbar {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

.shadow-lg {
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, .05) !important;
}

.navbar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
}

.fixed-bottom,
.fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}

.fixed-bottom {
    bottom: 0;
}

.container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--bs-gutter-x, .75rem);
    padding-right: var(--bs-gutter-x, .75rem);
    width: 100%;
}

.navbar .container-fluid {
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
}

.nav-link {
    color: #3b7ddd;
    display: block;
    padding: 0.5rem 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.importantsize {
    font-size: 12px;
}

.btnfix a {
    background-color: rgb(60, 1, 1);
    border: medium none;
    color: #FFFFFF;
    float: left;
    position: fixed;
    top: 500px;
    border-radius: 10px;
    /* padding: 3px; */
    text-decoration: none;
    border: 1px solid red;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}

.row>* {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-shrink: 0;
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.customborder {
    border: 1px solid rgb(255, 0, 0);
    background-color: #4f0707;
    border-radius: 7px;
    -webkit-box-shadow: 1px 2px 11px 3px #000000;
    box-shadow: 1px 2px 11px 3px #000000;
}

table {
    border-collapse: collapse;
    caption-side: bottom;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border: 0 solid;
    border-color: inherit;
}

.textsizeall {
    font-size: 10px;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    color: #763e3e;
    cursor: pointer;
    display: inline-block;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.25rem 0.7rem;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.btn-outline-primary {
    border-color: #dd3b3b;
    color: #dd3b3b;
}

.btn-primary {
    background-color: #dd3b3b;
    border-color: #dd3b3b;
    color: #fff;
}

.input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
    color: #495057;
    display: block;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

.input-group > .form-control, .input-group > .form-select {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    width: 1%;
}

.colorinput {
    background: none;
    border-radius: 10px;
    color: white;
}